apiVersion: v1
metadata:
  name: {{ cluster_name }}
baseDomain: {{ dns_zone }}
compute:
- name: worker
  replicas: 0 
controlPlane:
  name: master
  replicas: 1 
networking:
  networkType: OVNKubernetes
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
bootstrapInPlace:
  installationDisk: /dev/vda
pullSecret: '{{ lookup('file', 'pull-secret') }}' 
sshKey: |
 {{ lookup('file', '../Terraform/'+ssh_certificate) }}
